[Desktop Entry]
Type=Application
Name=Numi-KDE
GenericName=Document Calculator
Comment=A KDE-native document calculator for people who think in text
Exec=numi-kde
Icon=numi-kde
Terminal=false
Categories=Qt;KDE;Utility;Calculator;
