<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
    "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
    "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Numi-KDE</vendor>
  <vendor_url>https://github.com/DMYTROSKORIN/numi-kde</vendor_url>

  <!--
    The helper accepts only a version number, downloads the release RPM itself,
    verifies its checksum and package name and refuses downgrades, so an active
    local session may run it without authentication.
  -->
  <action id="online.skorin.numi-kde.update">
    <description>Install Numi-KDE update</description>
    <message>Authentication is required to install an update for Numi-KDE.</message>
    <icon_name>system-software-update</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/numi-kde-install-update</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
